*{
   margin: 0px;
   padding: 0px;
}

#contenedor_head{
    display: flex;
    flex-direction: column;
}
#contenedor_main{
    margin: 0% 25% 0 25%;
}
#contenedor_main img{
    margin-top:2%;
}
#contenedor_main p{
    margin:2% 0 2% 0;
}

#bloque0{
    height: 100px;
    width: 174.5px;
}

#bloque1{
    text-align: end;
    background-color: #949292;
    padding: 2vh;
}
#bloque1 a{
    text-decoration: none;
}

#Ht{
    height: 94.9px;
    width: 94.9px;
}
#Cs{
    height: 106.6px;
    width: 106.6px;
}

#contenedor_pie{
    display: flex;
    flex-direction: row;
    background-color: #949292;
    justify-content: center;
    margin-top: 2%;
}
